<h1>Dispensa Angular</h1>

<nav>
    <ul>
        <li><a routerLink="/data-binding">Data Binding</a></li>
        <li><a routerLink="/property-binding">Property Binding</a></li>
        <li><a routerLink="/ng-model">NgModel</a></li>
        <li><a routerLink="/event-binding">Event Binding</a></li>
        <li><a routerLink="/direttive-comunicazione-componenti">Direttive e Comunicazione tra Componenti</a></li>
        <li><a routerLink="/esercizi-padre-figlio">Esercizi comunicazione Padre - Figlio</a></li>
        <li><a routerLink="/parametri-demo">Parametri Query e Parametri Route</a></li>
        <li><a routerLink="/parametri-form-names">Form a parametri</a></li>
        <li><a routerLink="/observable">Observable</a></li>
        <li><a routerLink="/padreNgChanges">ngOnChanges</a></li>
        <li><a routerLink="/ngDoCheck">ngDoCheck</a></li>
        <li><a routerLink="/sbjt&sbjtbvr">subject e Subject Behavior</a></li>
        <li><a routerLink="/ngAfterViewInit">ngAfterViewInit</a></li>
        <li><a routerLink="/ngOnDestroy">ngOnDestroy</a></li>
        <li><a routerLink="/viewChildChildren">ViewChild e ViewChildren</a></li>
        <li><a routerLink="/rxjs-http">Rxjs HTTP</a></li>
        <li><a routerLink="/pipe-async">Pipe Async</a></li>
    </ul>
</nav>

<p>-by Andrea Militano</p>