<h1>Esercizi Angular</h1>

<nav>
    <ul>
        <li><a routerLink="/data-binding">Data Binding</a></li>
        <li><a routerLink="/property-binding">Property Binding</a></li>
        <li><a routerLink="/ng-model">NgModel</a></li>
        <li><a routerLink="/event-binding">Event Binding</a></li>
        <li><a routerLink="/direttive-comunicazione-componenti">Direttive e Comunicazione tra Componenti</a></li>
        <li><a routerLink="/esercizi-padre-figlio">Esercizi comunicazione Padre - Figlio</a></li>
        <li><a routerLink="/parametri-demo">Parametri Query e Parametri Route</a></li>
        <li><a routerLink="/parametri-form-names">Form a parametri</a></li>
    </ul>
</nav>
